.col{
    width: 100%;
    display: block;
}

#col1{
    text-align: center;
    display: block;
}

.btn-group.special {
    display: flex;
  }
  
  .special .btn {
    flex: 1
  }

  #yearForm{
    max-width: 70px;
  }

  #goButton{
    margin-left: 20px;
  }